<div class="container">
  <h1>New Comment</h1>
  <div class="form-group">
    <%= form_with model: @comment do |form| %>
      <% if @comment.errors.any? %>
        <% @comment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      <% end %>
      <div>
        <%= form.label :body %><br>
        <%= form.text_area :body, class: "form-control" %>
      </div>
      <br>
      <div>
        <%= form.submit class: "btn btn-primary", method: 'get', remote: true %>
      </div>
    <% end %>
  </div>
</div>
