  <div class='row'>
    <% @films.each do |film| %>
      <div class='col-sm-3 mb-2'>
        <div class="card" id='hover'>
          <%= link_to (image_tag check_image(film.image), style: "max-height: 340px", class: "card-img-top"), film_path(film) %>
          <div class="card-body" style='height: 175px;'>
            <h5 class="card-title"><%= film.title %></h5>
            IMDb:<div class="rating" data-score=<%= film.imdb_stars(film.imdb_rating) %>></div>
            <%= link_to 'delete', film_path(film), method: :delete %>
          </div>
        </div>
      </div>
    <% end %>
    <div class='flickr_pagination'>
      <%= will_paginate @films %>  
    </div>
  </div>
<div class='footer'>
  
</div>

<script>
  $('.rating').raty({
    path: '/assets/',
    readOnly: true,
    score: function() {
          return $(this).attr('data-score');       
  }
  });
</script>

